<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="author" content="cocuh"/>
    <meta name="keywords" content="cocuh,こく"/>
    <meta name="description" content="cocuh's web site"/>
    <meta name="viewport" content="width=device-width, height=device-height,user-scalable=no"/>

    <title>typowriter.org</title>

    <link rel="stylesheet" href="/css/top.css"/>
    <link rel="stylesheet" href="/css/icons.css"/>
    <script src="/js/ana.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200' rel='stylesheet' type='text/css'/>
</head>
<body>
<canvas id="background">
</canvas>
<object id="tsuru" type="image/svg+xml" data="/tsuru.svg"></object>
<nav id="nav">
    <div id="nav_title">
        <a href="/">
            <span>Typowriter.org</span>
            <span class="nav_burglar_cat"></span>
        </a>
    </div>
    <ul>
        <li><a href="/works">
            <span class="icon_works icon"></span>
            <span class="navlink">Works</span>
        </a></li>
        <li><a href="http://cocu.hatenablog.com/">
            <span class="icon_blog icon"
                 title="Hatena Blog logo is Creative Common, https://github.com/hatena/Hatena-Blog-Logo"></span>
            <span class="navlink">Blog</span>
        </a></li>
        <li><a href="/links">
            <span class="icon_link icon"></span>
            <span class="navlink">Link</span>
        </a></li>
        <li><a href="/about">
            <span class="icon_about icon"></span>
            <span class="navlink">About</span>
        </a></li>
    </ul>
    <!--
    <div id="nav_svg_mode">
        change to svg mode→<a href="/svg">svg</a>
    </div>
    -->
</nav>
</body>
</html>
